.git
.github
.gitignore
.editorconfig
.vscode
__pycache__
*.pyc
books/
output/
test_books/
tests/
scripts/
docs/
.env
.env.*
Dockerfile*
docker-compose*
LICENSE
CHANGELOG.md
CONTRIBUTING.md
README*
Makefile
pdm.lock
pyproject.toml
mkdocs.yml
